<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<!-- Page Content -->
<div class="container">
  <%- include ('../partials/messages') %>
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <br>
      <br>
      <a class="btn btn-outline-dark" href="/problems/new" role="button"><i class="fas fa-plus-square"></i> Add Problem</a>
      <h1 class="my-4">Recent Problems</h1>
      <% problems.slice().reverse().forEach((problems) => { %>
          <!-- Blog Post -->
          <% if(problems.approved || (currentUser && currentUser.isAdmin)) {%>
            <div class="card mb-4" id="myDIV"> 
                <h4 class="card-header">
                  <a href="/problems/<%= problems._id %>"><%= problems.title%></a>
                </h4>
                <div class="card-body">
                    <!-- <h2 class="card-title"><%= problems.title%></h2> -->
                    <p class="card-text"><%- problems.body.description %></p>
                    <a href="/problems/<%= problems._id %>" class="btn btn-dark">View &rarr;</a>
                    <% if((currentUser && problems.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
                        <a href="/problems/<%=problems._id%>/edit" type="button" class="btn btn-outline-warning">Edit</a>
                        <form style="display: inline;" action="/problems/<%= problems._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    <% } %>
                    <% if(!problems.approved && currentUser && currentUser.isAdmin) { %>
                      <form style="display: inline;" action="/problems/<%= problems._id %>/approve" method="POST">
                          <button type="submit" class="btn btn-outline-danger">Approve</button>
                      </form>
                    <% } %>
                    <br></br>
                    <button type="button" class="btn btn btn-info" disabled><%= problems.body.difficulty%></button>
                    <button type="button" class="btn btn btn-dark" disabled><%= problems.body.year%></button>
                </div>
                
                <div class="card-footer text-muted">
                    <%= problems.created.toDateString() %>
                    <a href="/users/<%= problems.author.id %>"><%= problems.author.name %> </a>
                </div>
            </div>
          <% } %>
      <% }) %> 

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <form class="form-inline my-2 my-lg-0" action="/problems" method="get">    
              <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">    
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>    
            </form>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Easy </a>
                </li>
                <li>
                  <a href="#">Medium</a>
                </li>
                <li>
                  <a href="#">Hard</a>
                </li>
              </ul>
            </div>
            <!-- <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Category 4</a>
                </li>
                <li>
                  <a href="#">Category 5</a>
                </li>
                <li>
                  <a href="#">Category 6</a>
                </li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->
</div>

</body>
</html>