<!-- Page Content -->
<div class="container-fluid">

    <div class="row">

        <!-- Problem Content Column -->
        <div class="col-md-6" style="border-right: 1px solid rgb(202, 201, 201);">

            <!-- Title -->
            <h1 class="mt-4"><%= problem.title %></h1>

            <!-- Author -->
            <p class="lead">
                By
                <a href="/users/<%= problem.author.id %>"><%= problem.author.name %> </a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p><%= problem.created.toDateString() %></p>

            <hr>

            <!-- Problem Content -->
            <h5>Description</h5>
            <p class="lead" style="font-size:15px"><%- problem.body.description %></p>

            <h5>Example</h5>
            <p class="lead" style="font-size:15px"><%= problem.body.example %></p>

            <h5>Limits</h5>
            <p class="lead" style="font-size:15px"><%= problem.body.limits %></p>

            <% if(currentUser && problem.author.id.equals(currentUser._id)){ %>
            <a href="/problems/<%=problem._id%>/edit" type="button" class="btn btn-outline-warning">Edit</a>
            <form style="display: inline;" action="/problems/<%= problem._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>
            <% } %>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form action="/problems/<%=problem._id%>/comments" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="text"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <% if(problem.comments != undefined){ %>
            <% problem.comments.slice().reverse().forEach((comment) => {%>
            <div class="media mb-4">

                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0"><a href="/users/<%= comment.author.id %>"><%= comment.author.name %> </a></h5>
                    <%= comment.text %>
                </div>
                <% if(currentUser && comment.author.id.equals(currentUser._id) /*|| currentUser && currentUser.isAdmin*/){ %>

                <a class="btn btn-sm btn-outline-warning float-left mr-2"
                    onclick="toggleEditForm(`<%= comment._id %>`)">
                    <i class="fas fa-edit"></i>
                </a>

                <form id="delete-form" action="/problems/<%=problem._id%>/comments/<%=comment._id%>?_method=DELETE"
                    method="POST">
                    <button class="btn btn-sm btn-outline-danger float-left mr-2"><i
                            class="fas fa-trash-alt"></i></button>
                </form>
                <% } %>
            </div>

            <div id="<%= comment._id %>" style="display: none;">
                <form action="/problems/<%= problem._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" name="text" id="inputContent" rows="3"
                            placeholder="Type here"><%= comment.text %></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Edit Comment">
                    <br>
                    <br>
                </form>
            </div>

            <% }); %>
            <% } %>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-6">
            <div class="card card-body">
                <%var solution;%>
                <form action="/problems/<%=problem._id%>/solution" method="POST" id="myForm">
                    <div class="form-group">
                        <label for="language">Choose Language</label>
                        <select id="language" class="form-control" name="language">
                            <option selected>Choose Language</option>
                            <!-- <option>C++</option> -->
                            <option>Java</option>
                            <!-- <option>Python</option> -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editor">Enter Solution:</label>
                        <% if((problem.solutions.length > 0) && currentUser) { %>
                            <%//console.log("here1");%>
                            <% for(var i = problem.solutions.length-1; i>=0;i--) {%>
                                <% if(problem.solutions[i].solution_owner.id.equals(currentUser._id)) { %>
                                    <%solution = problem.solutions[i]; %>
                                    <%//console.log("here2");%>
                                    <% break; %>
                                <% } %>
                            <% }%>
                            <%if(solution) {%>
                                <%//console.log("here3");%>
                                <textarea class="form-control" id="editor" name="editor" 
                                    required><%=solution.text%></textarea>
                            <%} else {%>
                                <textarea class="form-control" id="editor" name="editor" required></textarea>
                            <%}%>
                        <%} else {%>
                            <textarea class="form-control" id="editor" name="editor" required></textarea>
                        <% }%>
                    </div>
                    <button class="btn btn-success my-2 my-sm-0" onclick="myFunction()">Test</button>
                </form>
                <% if((problem.solutions.length > 0) && currentUser) { %>
                    <% if(solution) { %>
                        <hr>
                        <p style="font-size:160%;">Status: <button type="button" class="btn btn btn-dark"
                                disabled><%= solution.status%></button></p>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Difference</span>
                            </div>
                            <textarea class="form-control" aria-label="Difference" rows="2"
                                readonly class="form-control-plaintext"><%= solution.difference%></textarea>
                        </div>
                    <% }%>
                <% }%>

            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

<script>
    function myFunction() {
        document.getElementById("myForm").submit();
    }
</script>

<script>
    //https://stackoverflow.com/questions/57733400/codemirror-clike-mode-doesnt-seem-to-work
    var editor = CodeMirror.fromTextArea
        (document.getElementById('editor'), {
            mode: "text/x-java",
            theme: "dracula",
            lineNumbers: true,
            autoCloseTags: true,
            autoCloseBrackets: true,
            matchBrackets: true,
            class: "form-control"
        });
    cm.execCommand("selectAll");
    cm.execCommand("indentAuto");
</script>

<script>
    function toggleEditForm(commentId) {
        var x = document.getElementById("" + commentId);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } 
</script>