<!-- Page Content -->
<style>
    .job_image {
        /* width: 400px; */
        max-height: 400px;
        margin: auto;
        display: block;
    }
</style>
<div class="container">

    <div class="row">

        <!-- Problem Content Column -->
        <div class="col-md-7" style="border-right: 1px solid rgb(202, 201, 201);">

            <!-- Title -->
            <h1 class="mt-4" style="text-align: center;">
                <%= job.company%>
            </h1>
            <hr>
            <h5 class="mt-4">Position: <%= job.position%>
            </h5>
            <h5 class="mt-4">Location: <%= job.location%>
            </h5>
            <h5 class="mt-4">Role Type: <%= job.role_type%>
            </h5>

            <hr>
            <!-- Author -->
            <p class="lead">
                By
                <a href="#">
                    <%= job.author.name %>
                </a>
            </p>

            <!-- Date/Time -->
            <p>
                <%= job.created.toDateString() %>
            </p>

            <hr></hr>
            
            <%if(job.apply) {%>
                <a class="btn btn-success" href="<%=job.apply%>" role="button">Apply</a>
            <%}%>
            <hr>
            <!-- Job Content -->

            <p class="lead" style="font-size:15px">
                <%- job.body %>
            </p>

            <% if(currentUser && job.author.id.equals(currentUser._id)){ %>
                <a href="/jobs/<%=job._id%>/edit" type="button" class="btn btn-outline-warning">Edit</a>
                <form style="display: inline;" action="/jobs/<%= job._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
                <% } %>
                    <hr>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-5">
            <br>
            <img class="img-fluid job_image" src="<%=job.image%>" alt="Card image cap">
            <hr>
        </div>
    </div>
    <!-- /.row -->
</div>