<style>
  .fit-image {
    width: 100%;
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
  }
</style>
<!-- Page Content -->
<div class="container"> 
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <br>
      <br>
      <a class="btn btn-outline-dark" href="/posts/new" role="button"><i class="fas fa-plus-square"></i> Add Post</a>
      <h1 class="my-4">Recent Posts</h1>
      <% posts.slice().reverse().forEach((post) => { %>
          <!-- Blog Post -->
          <div class="card mb-4">
            <% if(post.image != undefined){ %> 
              <img class="card-img-top fit-image" src="<%=post.image%>" alt="Card image cap">
            <% } %> 
            <div class="card-body">
                <h4 class="card-title"><%= post.title%></h2>
                <% if(post.body.length >= 250){ %>
                  <!-- <p class="card-text"><%- post.body.substring(0, 245) %>...</p>
                  <a href="/posts/<%= post._id %>" class="btn btn-primary">Read More &rarr;</a> -->
                  <a href="/posts/<%= post._id %>" class="btn btn-dark">Quick Read &rarr;</a>
                <% }else{ %>
                  <!-- <p class="card-text"><%- post.body %></p> -->
                  <a href="/posts/<%= post._id %>" class="btn btn-dark">Quick Read &rarr;</a>
                <% } %>
                <% if(currentUser && post.author.id.equals(currentUser._id) || (currentUser && currentUser.isAdmin)){ %>
                  <a href="/posts/<%=post._id%>/edit" type="button" class="btn btn-outline-warning">Edit</a>
                  <form style="display: inline;" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                  </form>
                <% } %>
            </div>
            
            <div class="card-footer text-muted">
                <%= post.created.toDateString() %>
                <a href="/users/<%= post.author.id %>"><%= post.author.name %> </a>
            </div>
          </div>
      <% }) %> 

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <form action="/posts" method="get"> 
            <button class="form-control btn-dark" type="submit" name="older" value=<%=page%>>&larr; Older</button>
          </form>
        </li>
        <li class="page-item">
          <form action="/posts" method="get">
            <button class="form-control btn-light" type="submit" name="newer" value=<%=page%>>Newer &rarr;</button>
          </form>
        </li>
      </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <form class="form-inline my-2 my-lg-0" action="/posts" method="get">    
              <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
              <br></br>
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>    
            </form>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Category 1</a>
                </li>
                <li>
                  <a href="#">Category 2</a>
                </li>
                <li>
                  <a href="#">Category 3</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Category 4</a>
                </li>
                <li>
                  <a href="#">Category 5</a>
                </li>
                <li>
                  <a href="#">Category 6</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->
</div>
